*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.header{
    width: 100%;
    height: 80px;
    background-color: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.35);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 550000000;
}

#btn{
    display: none;
}
.label{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.span{
    width: 80%;
    height: 2px;
    background-color: #a3a5a8;
    margin: 2px 0;
    transition: .5s;
}
.span1Active{
    margin: -4px 0 ;
    transition: .5s .5s;
    animation: rotateone 1s 1s forwards ease;
}
.span2Active{
    transform: scale(0);

}
.span3Active{
    margin: -4px 0;
    transition: .5s .5s;
    animation: rotatetwo 1s 1.5s forwards ease-in-out;
    
}
@keyframes rotateone {
    100%{
        transform: rotate(-45deg);
    }
}
@keyframes rotatetwo{
    100%{
        transform: rotate(45deg);
    }
}

/* nav */
.nav{
    width: 80%;
    height: 35vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scale(0);
    top: 90px;
    background-color: #fff;
    border-radius: 5px;
    z-index: 600;
}
.nav__ul{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.nav__li{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__a{
    text-decoration: none;
    color: #000;
    transition: .5s;
}
.nav__:hover{
    color: #2d314d;
}
#btn:checked ~ .nav{
    
    transition: .5s 2.5s;
    transform: translateX(-50%) scale(1.2) ;
    animation: navegacion 1s 3s  forwards;
    
}
@keyframes navegacion {
    to{
        transform:translateX(-50%) scale(1);
        -webkit-transition: all .5s cubic-bezier(0, 0.65, 0.05, 0.99);
transition: all 1s cubic-bezier(0, 0.65, 0.05, 0.99);
    }
}
/* seccionUno */
.mascara{
    width: 100%;
    height: 100%;
    position: relative;
}
.seccionUno{
    width: 100%;
    position: relative;
}
.mascara::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(11, 11, 12, 0.767);
    user-select: none;
    opacity: 0;
    transition: 3s;
    visibility: hidden; 
    z-index: 500;
}
.mascaraActive::after{
    opacity: 1;
    visibility: visible;
    user-select: auto;
    z-index: 500000000;
}
.seccionUno__img{
    width: 80%;
    margin: 0 auto;
    display: block;
 
    position: relative;
    /*
    z-index: 10;
    top: -70px;
    left: 50%;
    transform: translateX(-50%)
    */
    z-index: 500;

}
.secionUno__imgBg{
    width: 100%;
    position: absolute;
    top: 0px;
    right: 0;
    z-index: 10;
}
.seccionUno__imgDesktop{
    display: none;
}
.seccionUno__title{
    width: 100%;
    margin: 10px auto;
    font-size: 2.5rem;
    text-align: center;
    color: #2d314d;
    position: relative;
    z-index: 2000;
}
.seccionUno__text{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    color: #9698a5;
    font-weight: 300;
    line-height: 1.8em;
    font-size: 18px;
    position: relative;
    z-index: 2000;
}
.seccionUno__btn{
    display: block;
    margin: 10px auto;
    padding: 13px 25px;
    font-size: 18px;
    background-color: transparent;
    border: none;
    outline: none;
    background: linear-gradient(90deg, #30cf65, #2fb5cf );
    border-radius: 25px;
    color: #fff;
    position: relative;
    z-index: 2000;
    cursor: pointer;
    transition: .5s;
}
.seccionUno__btn:hover{
    background: linear-gradient(90deg, #2fb5cf, #30cf65 );

}
.seccionDos{
    width: 100%;
    background: #fff;
    padding: 10px;
}
.seccionDos__title{
    width: 95%;
    color: #2d314d;
    font-size: 1.5em;
}
.seccionDos__text{
    width: 80%;
    color: #9698a5;
    
}
.seccionDos__beneficios{
   
    width: 95%;
   padding-bottom: 7px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
        grid-gap: 10px;    
}
.beneficios{
    width: 100%;
    height: 100%;
    color: white;
    padding: 0 10px;
    
}
.beneficios__svg{
    display: block;
    margin: 5px auto;
}
.beneficios__title{
    text-align: center;
    font-size: 18px;
    color: #2d314d;
    margin: 5px 0;
}

.beneficios__text{
    text-align: center;
    color: #9698a5;
    font-weight: 300;
    line-height: 1.8em;
    font-size: 18px;
}
.seccionTres{
    width: 100%;
}
.seccionTres__articulos{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
}

.articulos{
    width: 90%;
    margin: 0 auto;
    height: 100%;
    
}
.articulos__img{
    width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}
.articulos__minitext{
    font-size: 10px;
    color: #9698a5;
    font-weight: 700;
    margin: 5px 0;
}
.articulos__name{
    font-size: 25px;
    color: #000;
}
.articulos__descripcion{
    color: #9698a5;
    margin: 5px 0;
}
.footer{
    width: 100%;
    background-color: #2d314d;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}
.footer__seccionUno,.footer__seccionDos,.footer__seccionTres{ 
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer__seccionUno,.footer__seccionDos,.footer__seccionTres{
    padding-top: 5px;
}
.footer__enlaces{
    padding: 10px;
    color: #fff;
   font-size: 18px;
   display: flex;
   gap: 10px;
}
.footer__enlaces i:hover {
    color: #30cf65;
    transition: .5s;
    cursor: pointer;

}
.footer__ul{
    list-style: none;
}

.footer__a{
    text-decoration: none;
    color: #9698a5;
    font-size: 18px;
    text-align: center;
    display: block;
    text-align: center;
    padding: 10px;
}
.footer__a:hover{
    color: #2fb5cf;

}
.footer__btn{
    margin: 10px;
}


/* Mediaquery */
@media (min-width: 600px) {
    
    .seccionDos__text{
        width: 70%;
    }
    .beneficios__text{
        width: 70%;
        margin: 0 auto;
    }
}

@media (min-width: 1020px) {
    .header{
        justify-content: flex-start;
        gap: 280px;
        
    }
    .mascara::after{
        opacity: 0;
        visibility: hidden;
        
    }

    .label{
        display: none;
    }
    .nav{
        transform: scale(1);
        position: relative;
        top: 0;
        left: 0;
        width: 400px;
        height: 100%;
        
        


    }
    .nav__ul{
        flex-direction: row;
    }
    .seccionUno__btn--dektop{
        position: absolute;
        right: 0;
    }
    .seccionUno{
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }
    .seccionUno__img{
       width: 42%;
       position: absolute;
       right: -100px;
       top: 0;
    }
    .secionUno__imgBg{
        display: none;
    }
    .seccionUno__imgDesktop{
        width: 50%;
        display: block;
        position: absolute;
        right: -100px;
        top: -30px;
    }
    .seccionUno__title,.seccionUno__text,.seccionUno__btn{
        margin: 0;
        text-align: left;
        margin-left: 40px;
    }
    .seccionUno__title{
        padding-top: 210px;
        margin-bottom: 0px;
        
    }
    .seccionUno__text{
        width: 35%;
        margin: 20px 40px;
    }
    .seccionDos{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        justify-content: center;
    }
    .seccionDos__contenedor{
        width: 100%;
        height: auto;
        position: absolute;
        left: 00px;
        top: 40px;
    }
    .seccionDos__title{
        margin: 0 40px ;
        padding-top: 0;
    }
    
    .beneficios__title{
        text-align: left;
        margin: 10px 0;
    }
   
   .beneficios__text{
       width: 100%;
       text-align: left;
      
   }
   .seccionTres{
       width: 100%;
       height: 100vh;
       display: flex;
       align-items: center;
       flex-direction: column;
       justify-content: center;
       position: relative;
       
   }
   .seccionTres__title{
       position: absolute;
       top: 0;
       left: 50%;
       padding: 0;
       width: 30%;
       transform: translateX(-50%);
       text-align: center;
   }
    .seccionDos__beneficios{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    
    .beneficios__svg{
        margin: 0;
    }

    .seccionTres__articulos{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    .footer{
        flex-direction: row;
        height: 200px;
        margin: 0;
        padding: 0;
    }
   .footer__seccionUno,.footer__seccionDos,.footer__seccionTres{
       width: 33.33333333%;
       height: 100%;
      
   }

   
   .footer__ul{
       display: grid;
       grid-template-columns: repeat(2,1fr);
       grid-template-rows: repeat(3,1fr);
   }
    .footer__seccionUno,.footer__seccionDos{
       width: 100%;
       height: 100%;
       display: flex;
       align-items: flex-start;
       justify-content: center;
       flex-direction: column;
   }
   .footer__seccionUno{
       margin: 0 40px;
   }
    
    
}
