*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.header{
    width: 100%;
    height: 80px;
    background-color: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.35);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000
}

#btn{
    display: none;
}
.label{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.span{
    width: 80%;
    height: 2px;
    background-color: #a3a5a8;
    margin: 2px 0;
    transition: .5s;
}
.span1Active{
    margin: -4px 0 ;
    transition: .5s .5s;
    animation: rotateone 1s 1s forwards ease;
}
.span2Active{
    transform: scale(0);

}
.span3Active{
    margin: -4px 0;
    transition: .5s .5s;
    animation: rotatetwo 1s 1.5s forwards ease-in-out;
    
}
@keyframes rotateone {
    100%{
        transform: rotate(-45deg);
    }
}
@keyframes rotatetwo{
    100%{
        transform: rotate(45deg);
    }
}

/* nav */
.nav{
    width: 80%;
    height: 35vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scale(0);
    top: 90px;
    background-color: #fff;
    border-radius: 5px;
    z-index: 600;
}
.nav__ul{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.nav__li{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn:checked ~ .nav{
    transform: translateX(-50%) scale(1);
    transition: .5s 2.5s;
    
}
/* seccionUno */
.seccionUno{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.seccionUno::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(11, 11, 12, 0.767);
    user-select: none;
    opacity: 0;
    transition: 3s;
    visibility: hidden;
    z-index: 500;
}
.seccionUnoActive::after{
    opacity: 1;
    visibility: visible;
    user-select: auto;
}
.seccionUno__img{
    width: 80%;
    margin: 0 auto;
    display: block;
 
    position: relative;
    /*
    z-index: 10;
    top: -70px;
    left: 50%;
    transform: translateX(-50%)
    */
    z-index: 500;

}
.secionUno__imgBg{
    width: 100%;
    position: absolute;
    top: 0px;
    right: 0;
    z-index: 10;
}
.seccionUno__title{
    width: 100%;
    margin: 10px auto;
    font-size: 2.5rem;
    text-align: center;
    color: #2d314d;
}
.seccionUno__text{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    color: #9698a5;
    font-weight: 300;
    line-height: 1.8em;
    font-size: 18px;
}
.seccionUno__btn{
    display: block;
    margin: 10px auto;
    padding: 13px 25px;
    font-size: 18px;
    background-color: transparent;
    border: none;
    outline: none;
    background: linear-gradient(90deg, #30cf65, #2fb5cf );
    border-radius: 25px;
    color: #fff;
}
.seccionDos{
    width: 100%;
    background: #eee;
}
.seccionDos__title{
    width: 95%;
    color: #2d314d;
}
.seccionDos__text{
    width: 80%;
    color: #9698a5;
    
}
.seccionDos__beneficios{
   
    width: 95%;
   padding-bottom: 7px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
        grid-gap: 10px;    
}
.beneficios{
    width: 100%;
    height: 100%;
    color: white;
    padding: 0 10px;
    
}
.beneficios__svg{
    display: block;
    margin: 5px auto;
}
.beneficios__title{
    text-align: center;
    font-size: 18px;
    color: #2d314d;
    margin: 5px 0;
}

.beneficios__text{
    text-align: center;
    color: #9698a5;
    font-weight: 300;
    line-height: 1.8em;
    font-size: 18px;
}
.seccionTres{
    width: 100%;
}
.seccionTres__articulos{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
}

.articulos{
    width: 90%;
    margin: 0 auto;
    height: 100%;
    box-shadow: 0px 1px rgba(0,0,0,0.35);
}
.articulos__img{
    width: 100%;
    display: block;
    margin: 0 auto;
}
.articulos__minitext{
    font-size: 10px;
    color: #9698a5;
    font-weight: 700;
    margin: 5px 0;
}
.articulos__name{
    font-size: 25px;
    color: #000;
}
.articulos__descripcion{
    color: #9698a5;
    margin: 5px 0;
}
.footer{
    width: 100%;
    background-color: #2d314d;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}
.footer__seccionUno,.footer__seccionDos,.footer__seccionTres{ 
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer__seccionUno,.footer__seccionDos,.footer__seccionTres{
    padding-top: 10px;
}
.footer__enlaces{
    padding: 10px;
   color: white;
   font-size: 18px;
   display: flex;
   gap: 10px;
}
.footer__ul{
    list-style: none;
}

.footer__a{
    text-decoration: none;
    color: #9698a5;
    font-size: 18px;
    text-align: center;
    display: block;
    text-align: center;
    padding: 10px;
}
.footer__btn{
    margin: 10px;
}